.fa-arrow-alt-circle-right, .fa-plus-circle{
  color: $accent-colour;
}

.submitBtn{
  background-color: $accent-colour;
  color:white;
  border-radius: 30px;
  border: none;
  width: 100%;
  margin-top: 5%;
  letter-spacing: 2px;
}

.logo{
  height: 30px;
  padding: auto;
}

.chart-data-btn{
  img{
  border-radius: 20px;
  width: 100%;
  }
}
