.is-fixed-top{
  background-color: rgba(255,255,255,0.5);
  background: transparent;
  .navbar-item, .navbar-link{
    border-radius: 20px;
  }

}


@media only screen and (min-width: 1024px) {
  main{
    padding-top:4%;
  }

  .chart-data-btn{
    img{
    border-radius: 20px;
    width: 75%;
    }
  }
}




.header {
    height: 50vh;
    background-image:
    linear-gradient(to right bottom,
     rgba(255,255,255, 0.8),
     rgba(0,0,0, 0.8)),
     url('https://i.imgur.com/qbXJf7B.png');

     background-size: cover;
     background-position: top;
     position: relative;

     clip-path: polygon(0 0, 100% 0, 100% 100%, 0 56%);
}


.text-box {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
}

.heading-primary {
  	color: #fff;
  	text-transform: uppercase;

  	backface-visibility: hidden;
  	margin-bottom: 30px;
}

.heading-primary-main {
  	display: block;
  	font-size: 26px;
  	font-weight: 400;
  	letter-spacing: 5px;
}

.heading-primary-sub {
  	display: block;
  	font-size: 18px;
  	font-weight: 700;
  	letter-spacing: 7.4px;
}
