.oops {
    background: chartreuse;
    position: fixed;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5em;
    z-index: 9999;
    .error-text {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $primary-font, Tahoma, sans-serif;
        color: #000;
        img {
            margin: 85px auto 20px;
            height: 342px;
        }
    }
}
