.bmi {
  width: 75%;
  margin-top: 5%;
  margin-bottom: 10%;
  padding: 5%;
  background: #f4f4f4;
  border: #ccc solid 1px;
  border-radius: 20px;
  input[type=range] {
    -webkit-appearance: none;
    margin: 20px 0;
    width: 100%;
    &:focus {
      outline: none;
    }
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 14px;
      cursor: pointer;
      animate: 0.2s;
      box-shadow: 1px 1px 1px #50555C;
      background: #50555C;
      border-radius: 14px;
      border: 0px solid #000000;
    }
    &::-webkit-slider-thumb {
      box-shadow: 0px 0px 0px #000000;
      border: 0px solid #000000;
      height: 20px;
      width: 40px;
      border-radius: 12px;
      background: $accent-colour;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -3px;
    }
    &:focus::-webkit-slider-runnable-track {
      background: #50555C;
    }
    &::-moz-range-track {
      width: 100%;
      height: 14px;
      cursor: pointer;
      animate: 0.2s;
      box-shadow: 1px 1px 1px #50555C;
      background: #50555C;
      border-radius: 14px;
      border: 0px solid #000000;
    }
    &::-moz-range-thumb {
      box-shadow: 0px 0px 0px #000000;
      border: 0px solid #000000;
      height: 20px;
      width: 40px;
      border-radius: 12px;
      cursor: pointer;
    }
    &::-ms-track {
      width: 100%;
      height: 14px;
      cursor: pointer;
      animate: 0.2s;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    &::-ms-fill-lower, &::-ms-fill-upper {
      background: #50555C;
      border: 0px solid #000000;
      border-radius: 28px;
      box-shadow: 1px 1px 1px #50555C;
    }
    &::-ms-thumb {
      margin-top: 1px;
      box-shadow: 0px 0px 0px #000000;
      border: 0px solid #000000;
      height: 20px;
      width: 40px;
      border-radius: 12px;
      cursor: pointer;
    }
    &:focus {
      &::-ms-fill-lower, &::-ms-fill-upper {
        background: #50555C;
      }
    }
  }

  /* Output */

  .output {
    h3 {
      border: #ccc 1px solid;
      padding: 20px;
      font-size: 1.5em;
    }
    span {
      font-size: 0.5em;
      color: #ccc;
    }
  }
}

/* Range */
