.hero-body{
  font-family: $primary-font;
  padding-left: 10%;
  padding-top: 10%;
  .title{
    color: white;
    font-size: 4rem;
    letter-spacing: normal;
    font-style: italic;
    font-weight: bold;
    z-index: 1000;
  }
  h2{
    color: white;
  }
  em{
    color: $accent-colour;
  }
}
.hero {
    background-image: url("https://i.imgur.com/ubXKmWN.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
    .split{
      visibility: hidden;
    }
    .image-gallery {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
        img{
          visibility: hidden;
        }
    li{
      position: absolute;
    }
  }
}

#one {
  animation: xfade 16s 0s infinite;
}
#two {
  animation: xfade 16s 4s infinite;
}
#three {
  animation: xfade 16s 8s infinite;
}
#four {
animation: xfade 16s 12s infinite;
}
@keyframes xfade{
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1024px){
  // styles for tablet//
  .hero{
    img{
      height: 100vh;
      margin-top: -100px;
    }
    background-image: url("https://i.imgur.com/hcUixim.png")
  }
}

@media only screen and (min-width: 1024px) and (max-width: 2560px) {
    // styles for wide screens //
  .hero {
    .hero-body{
      visibility: hidden;
    }

    .split {
      visibility: visible;
      height: 100%;
      width: 50%;
      position: fixed;
      z-index: 1;
      top: 0;
      overflow-x: hidden;
      padding-top: 20px;
    }
    /* Control the left side */
    .left {
      left: 0;
      background-image: url('https://i.imgur.com/OR7KNoc.jpg');
      background-size:cover;
      background-repeat: no-repeat;
      .centered {
        position: absolute;
        margin-right: 0;
        top: 50%;
        left: 20%;
        transform: translate(-2%, -50%);
        text-align: center;
        h1{
          font-size: 7rem;
          color: rgba(255, 255, 255, 0.1);
        }
      }
    }

    /* Control the right side */
    .right {
      top: -4px;
      background-repeat: no-repeat;
      background-size:cover;
      right: 0;
      background-image: url('https://i.imgur.com/nZL3Dpo.jpg');
      .centered {
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-30%, -50%);
        text-align: center;
        h1{
          font-size: 4rem;
          color: white;
          font-style: italic;
          border-bottom: 5px solid $accent-colour
        }
        .subtitle{
          font-size: 1rem;
          color: white;
        }
      }
    }
    .slide-in-top {
    	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    .slide-in-top-delayed {
    	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
    	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
    }
      // background-image: url('http://desktopwall.info/uploads/posts/2016-04/28_kendo.jpg');
      background: none;
      background-size: cover;
      height: 112vh;
      background-color: black;
      width: 100%;
      margin: 0;
      .image-gallery{
          img{
            height: 112vh;
            visibility: hidden;
          }
          // img{
          //   height: 112vh;
          //   visibility: visible;
          // }
        }
      }
  }

  @-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}



@-webkit-keyframes slide-in-top-delayed {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top-delayed {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


.text-focus-in {
  -webkit-animation: text-focus-in 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
   animation: text-focus-in 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
.text-focus-in {
  -webkit-animation: text-focus-in 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
   animation: text-focus-in 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
.text-focus-in-delayed {
  -webkit-animation: text-focus-in 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.2s both;
   animation: text-focus-in 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.2s both;
}

@-webkit-keyframes text-focus-in-delayed {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in-delayed {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
.text-focus-in-more-delayed {
  -webkit-animation: text-focus-in 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.4s both;
   animation: text-focus-in 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.4s both;
}

@-webkit-keyframes text-focus-in-more-delayed {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in-more-delayed {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
