.text-pop-up-right {
  -webkit-animation: text-pop-up-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: text-pop-up-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.profile{
  .header{
    height: 23vh;
    letter-spacing: 2px;
  }
  .heading-primary{
    font-size: 3rem;
    font-weight: 900;
    color: white;
    font-weight: bold;
    font-style: normal;
  }
  .level{
    padding-right: 55%;
    h1{
      font-weight: 700;
    }
  }
  strong{
    font-size: 1.5rem;
    font-weight: 500;
  }
  i{
    color: $accent-colour;
  }
  .disciplines{
    .title{
      font-weight: 550;
      background-color: $accent-colour;
      border-radius: 10px;
      font-size: 1.5rem;
      color: white;
      font-style: normal;
      text-decoration: underline;
    }
    li{
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 2px;
    }
  }
}



@media only screen and (min-width: 768px) and (max-width: 1023px){
  .profile{
    .header{

    }

    .heading-primary{
      font-size: 6rem;
      font-weight: 900;
      color: white;
      font-weight: bold;
      font-style: normal;
    }
    .level{
      padding-right: 80%;
    }
    strong{
      font-size: 1.5rem;
    }
    i{
      color: $accent-colour;
    }
  }
}


@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .profile{
    .header{
      margin-top: -50px;
    }
    .heading-primary{
      font-size: 6rem;
      font-weight: 900;
      color: white;
      font-weight: bold;
      font-style: normal;
    }
    .level{
      margin-top: -60px;
      padding-left: 10px;
    }
    strong{
      font-size: 1.5rem;
    }
    i{
      color: $accent-colour;
    }
  }

}
@media only screen and (min-width: 1440px) {
  .profile{
    .header{
      height: 30vh;
      margin-top: 90px;
    }
    .heading-primary{
      font-size: 6rem;
      font-weight: 900;
      color: white;
      font-weight: bold;
      font-style: normal;
    }
    .level{
      margin-top: -60px;
      padding-left: 10px;
    }
    strong{
      font-size: 1.5rem;
    }
    i{
      color: $accent-colour;
    }
  }

}


@-webkit-keyframes text-pop-up-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
