.no-sessions{
  border-radius: 100%;
  width:200px;
  height: 200px;
  background-color: dodgerBlue;
}


.sessions-index{
  .header{
    height: 20vh;
  }
  section{
    padding-left: 20%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
  .sessions-index{
    .header{

    }
    section{
      margin-top: -5%;
    }
  }
}


@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .sessions-index{
    // background-color: chartreuse;
    height: inherit; 
    .header{
      height: 40vh;
      margin-top: -50px;
    }
  }

}
@media only screen and (min-width: 1440px) {
  .sessions-index{
    .header{
      height: 50vh;
      margin-top: 90px;
    }
  }

}
