.chart-data-btn{
  img{
  border-radius: 20px;
  width:100%;
  }
}

.pie-container{

  canvas{
    margin-right: 100px;
    width: 50%;
  }
}

.statistics{
  .header{
    height: 20vh;
    h1{
      font-size: 3rem;
      font-weight: 900;
      color: white;
      font-weight: bold;
      font-style: normal;
      text-transform: uppercase;
    }
  }
  .section{
    margin-top: -4%;
  }
  .container{
    margin-left: 20%;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
  .statistics{
    .header{

      h1{
        font-size: 4rem;
      }
    }

  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .statistics{
    .header{
      height: 40vh;
      margin-top: -50px;
      h1{
        font-size: 5rem;
        
      }
    }

  }

}
@media only screen and (min-width: 1440px) {
  .statistics{
    .header{
      height: 50vh;
      margin-top: 90px;
      h1{
        font-size: 9rem;
        
      }
    }
  }

}
