@import '~bulma/sass/utilities/initial-variables';
@import '~bulma';
@import 'variables';
@import 'pages/home';
@import 'pages/form';
@import 'pages/bmi';
@import 'pages/registration-login';
@import 'pages/404';
@import 'pages/sessions';
@import 'pages/dashboard';
@import 'components/button';
@import 'components/navbar';
@import 'components/flash';


.is-overlay{
  background: transparent;
}

canvas{
  margin-bottom: 10%;
}

.edit {
  border-style: none;
  background: transparent;
}



.session-list {
  display: flex;
  justify-content: space-around;
}


.navbar-burger {
    position: fixed;
    top: 0;
    right: 1rem;
    background-color: transparent;
    z-index: 2000;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;

    span {
        height: 3px;
        left: calc(50% - 15px);
        width: 30px;
    }

    &:hover {
        background-color: transparent;
    }
}





    @media only screen and (min-width: 768px) {
        /* styles for wide screens */
        .hero {
            background-image: url("https://imgur.com/86pvG6E.jpg");
            background-size: cover;
            background-color: #999;
            width: 100%;
            margin: 0;
        }
        .registrationBackground {
            background-image: url("https://imgur.com/fhqTHUW.jpg");
            background-size: cover;
            background-color: #999;
            width: 100%;
            margin: 0;
        }


    }
