@import '~bulma/sass/utilities/initial-variables';
@import '~bulma';
@import 'variables';

.hero-body{
  font-family: $primary-font;
  padding-left: 10%;
  .title{
    font-size: 5rem;
    letter-spacing: normal;
  }
}
.header-image {
    background-image: url("https://i.imgur.com/ubXKmWN.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}

.fa-arrow-alt-circle-right{
  color: $accent-colour;
}


.edit {
  border-style: none
}

#bottomBtn {
  position: fixed;
  bottom: 10%;
  right: 5%;
}

.session-list {
  display: flex;
  justify-content: space-around;
}
